body {
  --background-color: #fceae1;
  --orange-color: #e28b49;
  --red-orange-color: #f06a41;
  --green-color: #d9d06e;
  --purple: #f7dbf4;
  --main-font: #8f685c;

  background-color: var(--background-color);
  color: var(--main-font);
}

@font-face {
  font-family: quicksand;
  src: url(../assets/font/Quicksand-VariableFont_wght.ttf);
}
main {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

@media (max-width: 768px) {
  /* .forsidebillede {
    max-width: 81%;
    transform: rotate(-90deg);
  } */

  h1 {
    color: #f06a41;
    font-family: "moret",  serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }

  h2 {
    color: white;
    text-align: center;
    font-family: "moret",  serif;
    font-weight: 400;
    font-style: normal;
  }

  h3 {
    color: white;
    font-family: quicksand;
  }

  .icon-container {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    box-sizing: border-box;
  }

  .icon1,
  .icon2 {
    width: 50px;
  }

  .orange-stripe {
    background-color: #e28b49;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .orangepath {
    display: none;
  }
  .greenpath {
    display: none;
  }

  .vision {
    background-color: #f06a41;
    aspect-ratio: 1/1;
  }

  .main-text {
    color: white;
    font-family: quicksand;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 1.9;
    word-spacing: 5px;
  }
  .photo-with-orange {
    max-width: 100%;
  }
  .green-stripe {
    background-color: #d9d06e;
    padding-top: 3px;
    padding-bottom: 3px;
  }
}

@media (min-width: 768px) {
  /* .forsidebillede {
    width: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    transform: rotate(-90deg);
  } */

  .icon-container {
    display: flex;
    justify-content: space-between;

    padding: 50px;
    box-sizing: border-box;
  }

  .icon1,
  .icon2 {
    width: 100px;
  }

  h1 {
    color: #f06a41;
    font-family: "moret",  serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 40px;
  }
  h2 {
    color: white;
    text-align: center;
    font-family: "moret",  serif;
    font-weight: 400;
    font-style: normal;
  }

  h3 {
    color: white;
    font-family: quicksand;
  }

  .orange-stripe {
    display: none;
  }
  .orangepath {
    position: relative;
    max-width: 100%;
    margin-top: -90px;
    margin-bottom: -230px;
    z-index: 10; /* Sørg for, at den ligger over grid */
    overflow: hidden;
  }

  .greenpath {
    position: relative;
    max-width: 100%;
    margin-top: -180px;
    z-index: 10; /* Sørg for, at den ligger over grid */
    overflow: hidden;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    z-index: 1;
  }

  .vision,
  .photo-with-orange {
    aspect-ratio: 1/1; /* Gør dem kvadratiske */
    width: 100%; /* Sikrer, at de fylder kolonnen */
    object-fit: cover; /* Forhindrer billedstrækning */
    background-color: #f06a41;
    margin-top: 80px;
  }

  .main-text {
    color: white;
    font-family: quicksand;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 2.9;
    word-spacing: 7px;
  }
  .photo-with-orange {
    max-width: 100%;
  }
  .green-stripe {
    display: none;
  }
}

/* CELINA CSS */

#productlist {
  margin-left: 50px;
  margin-right: 50px;
}

.product-category {
  text-align: center;
}

.product_list_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 300px));
  gap: 30px;
  justify-content: center;
  background-color: var(--purple);
  padding-top: 50px;
  padding-bottom: 50px;
}

.product_container {
  border-radius: 15px;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 0;
  border: 3px solid var(--red-orange-color);
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
}

.product_container img {
  width: 100%;
  margin: 0;
}

.price {
  text-align: end;
  padding-right: 30px;
  font-size: 20px;
  margin-top: -15px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--main-font);
}

.productdisplayname {
  margin-top: -5px;
  padding-left: 10px;
  color: var(--main-font);
}

.brandname {
  margin-top: -15px;
  font-size: 15px;
  padding-left: 10px;
  color: var(--main-font);
}

.product_link {
  text-decoration: none;
  color: var(--main-font);
}

.product_container:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.product_container:hover .productdisplayname,
.product_container:hover .brandname,
.product_container:hover .price {
  color: var(--orange-color);
}

/* SOLD OUT */
.sold-out {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.73);
  color: white;
  font-size: 22px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 10;
  white-space: nowrap;
}

.IsSoldOut {
  visibility: visible;
}

/* Discount */

.product_container:has(.discount-price) .price {
  margin-top: 10px;
  text-decoration: line-through;
  color: #8f685ca4;
}

.product_container:has(.discount-price) .price::before {
  content: "Before ";
}

.discount-price {
  text-align: end;
  padding-right: 30px;
  font-size: 20px;
  margin-top: -5px;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--main-font);
}

.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.discount {
  position: absolute;
  visibility: hidden;
  top: 5%;
  left: 5%;
  background-color: var(--red-orange-color);
  color: white;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: quicksand;
}

.IsOnSale {
  visibility: visible;
}
