@font-face {
  font-family: "quicksand";
  src: url("../assets/font/Quicksand-Regular.woff2") format("woff2"),
    url("../assets/font/Quicksand-Regular.woff") format("woff"),
    url("../assets/font/Quicksand-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "moret";
  src: url("../assets/font/Moret-Regular.woff2") format("woff2"),
    url("../assets/font/Moret-Regular.woff") format("woff"),
    url("../assets/font/Moret-Regular.otf") format("truetype");
}

body {
  --background-color: #fceae1;
  --orange-color: #e28b49;
  --red-orange-color: #f06a41;
  --green-color: #d9d06e;
  --purple: #f7dbf4;
  --main-font: #8f685c;

  background-color: var(--background-color);
  color: var(--main-font);
}

h1 {
  font-family: "moret", serif;
  margin-top: 70px;
  color: var(--red-orange-color);
}

h2,
h3 {
  font-family: "moret", serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: quicksand;
}

#productlist {
  margin-left: 50px;
  margin-right: 50px;
}

.product-category {
  text-align: center;
}

.product_list_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 300px));
  gap: 30px;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.product_container {
  border-radius: 15px;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  border: 3px solid var(--red-orange-color);
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
}

.product_container img {
  width: 100%;
}

.price {
  text-align: end;
  padding-right: 30px;
  font-size: 20px;
  margin-top: -15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.productdisplayname {
  margin-top: -5px;
  padding-left: 10px;
}

.brandname {
  margin-top: -15px;
  font-size: 15px;
  padding-left: 10px;
}

.product_link {
  text-decoration: none;
  color: var(--main-font);
}

.product_container:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.product_container:hover .productdisplayname,
.product_container:hover .brandname,
.product_container:hover .price {
  color: var(--orange-color);
}

.fixed-icon {
  display: none;
}

@media (width > 768px) {
  .fixed-icon {
    position: fixed;
    opacity: 0.5;
    width: 50px;
    z-index: -1;
    display: block;
  }

  .left-icon {
    top: 25%;
    left: 50px;
    transform: rotate(-30deg);
    width: 10px;
  }

  .right-icon {
    top: 50%;
    right: 330px;
    transform: rotate(10deg);
  }

  .left-icon img,
  .right-icon img {
    width: 350px;
  }
}

.filter-container {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}

.filter {
  padding: 3px;
  color: var(--main-font);
  background-color: #e28b495b;
  border-radius: 5px;
  border: 1px solid var(--red-orange-color);
}

/* SOLD OUT */
.sold-out {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.73);
  color: white;
  font-size: 22px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 10;
  white-space: nowrap;
}

.IsSoldOut {
  visibility: visible;
}

/* Discount */

.product_container:has(.discount-price) .price {
  margin-top: 10px;
  text-decoration: line-through;
  color: #8f685ca4;
}

.product_container:has(.discount-price) .price::before {
  content: "Before ";
}

.discount-price {
  text-align: end;
  padding-right: 30px;
  font-size: 20px;
  margin-top: -5px;
  font-weight: bold;
  margin-bottom: 10px;
}

.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.discount {
  position: absolute;
  visibility: hidden;
  top: 5%;
  left: 5%;
  background-color: var(--red-orange-color);
  color: white;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
}

.IsOnSale {
  visibility: visible;
}
