@font-face {
  font-family: "quicksand";
  src: url("../assets/font/Quicksand-Regular.woff2") format("woff2"),
    url("../assets/font/Quicksand-Regular.woff") format("woff"),
    url("../assets/font/Quicksand-Regular.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "moret";
  src: url("../assets/font/Moret-Regular.woff2") format("woff2"),
    url("../assets/font/Moret-Regular.woff") format("woff"),
    url("../assets/font/Moret-Regular.otf") format("truetype");
  font-style: normal;
}

body {
  --background-color: #fceae1;
  --orange-color: #e28b49;
  --red-orange-color: #f06a41;
  --green-color: #d9d06e;
  --purple: #f7dbf4;
  --main-font: #8f685c;

  background-color: var(--background-color);
  color: var(--main-font);
}
.basket_button {
  background-color: #e28b49;
  color: #fceae1;
  font-family: quicksand;
  border: none;
  border-radius: 50px;
  padding: 15px;

  cursor: pointer;
  transition: background-color 0.3s ease;
}
.basket_button:hover {
  background-color: #f06a41;
}
.product_pic {
  width: 100%;
  max-width: 350px;
  display: block;
  margin: 0 auto;
}
.product_info {
  display: grid;
  align-items: center;
  margin-left: 10px;
}
.description_info {
  display: grid;
  align-items: center;
  margin-left: 10px;
}

.product_titel {
  font-family: "moret", serif;
}
.divider {
  margin: 0;
  width: 100%;
  height: 45px;
  background-color: #d9d06e;
}
h3 {
  text-align: center;
}
.divider_768px {
  visibility: hidden;
  height: 0px;
}
.fixed-icon {
  visibility: hidden;
  height: 0px;
}
@media (width > 768px) {
  .grid_pic_text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
  }

  .basket_button {
    max-width: 250px;
  }

  .product_pic {
    grid-row: 1 / 3;
    grid-column: 1;
  }

  .product_info {
    grid-column: 2;
    grid-row: 1;
  }

  .description_info {
    grid-row: 3;
    grid-column: 1 / -1;
    max-width: 600px;
    margin-left: 70px;
  }
  .divider {
    visibility: hidden;
  }
  .divider_768px {
    visibility: visible;
  }
  .review {
    margin-top: 150px;
  }
  .fixed-icon {
    visibility: visible;
    position: fixed;
    opacity: 0.5;
    width: 50px;
    z-index: -1;
  }

  .left-icon {
    top: 30%;
    left: 5px;
    transform: rotate(-30deg);
    width: 10px;
  }

  .right-icon {
    top: 50%;
    right: 330px;
    transform: rotate(10deg);
  }

  .left-icon img,
  .right-icon img {
    width: 250px;
  }
  .review_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
  }
}
